<div class="container">

    <p class="text-muted" style="font-size:20px;margin-top:7vh">
        Welcome to our online BookFlix, a haven for book lovers and a hub for sellers. Our mission is to connect readers with captivating stories while providing authors and sellers a platform to showcase their literary creations. With a vast collection of new and used books across various genres, our user-friendly website offers an immersive browsing experience. Join our community today and embark on a literary journey like no other, where books come alive and dreams take flight.
    </p>


    <div class="text-center">
        <h3 class="text-primary">Our Team</h3>
        <hr/>
    </div>
    <div class="row teamInfo">
        <div class="col-4 text-center">
            <img src="/images/me.jpg" class="rounded-circle" alt="Admin" style="height:170px;width:170px;">

            <h3>Abdulla Rahman</h3>
            <h5>CSE, KUET</h5>
            <a href="#" class="btn btn-outline-primary">Contact</a>
        </div>
        <div class="col-4 text-center">
            <img src="/images/hasib.jpg" class="rounded-circle" alt="Hasib" style="height:170px;width:170px;">
            <h3>Hasibul Islam</h3>
            <h5>CSE, KUET</h5>
            <a href="#" class="btn btn-outline-primary">Contact</a>
        </div>
    </div>
</div>


<style>
    .teamInfo{
        margin-bottom:200px;
    }
    .teamInfo img{
        width:200px;
    }
</style>
