@using BookFlix.Models.ViewModels;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookFlix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookFlixWeb.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/favicon.png" type="image/png">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom bg-white box-shadow mb-3">
            <div class="container-fluid container">
                <a class="navbar-brand fw-bold text-primary" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" width="150px" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                
                        
                        @if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Customer" asp-controller="MyOrder" asp-action="Index">My Order</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>

                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Sale">Sales</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Profit</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Balance">Balance</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Purchase">Purchase</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Ledger">Ledger</a></li>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Feedback" asp-action="Index">Feedback</a></li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="ManageOrder" asp-action="Index">Manage Order</a>
                            </li>
                        }
                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <br />

    <div class="border-top text-white " style="background-color:#1B1212		;">

        <br  />
            <div class="container" style="width:75%; margin:auto;">
                
                <div class="row">
                    <div class="col-md-3 text-center ">
                        <a asp-action="Index" asp-area="Customer" asp-controller="Home">
                            <img src="~/images/footerLogo.png" width="130px" />
                        </a>
                    </div>

                    <div class="col-lg-9">
                    <div class="row">

                        <div class="col-md-8 text-center " style="padding:30px;">
                            <a style="padding:5px;" href="#"><i class="bi bi-facebook" style="color:#FFC300;"></i></a>
                            <a style="padding:5px;" href="#"><i class="bi bi-twitter" style="color:#FFC300;"></i></a>
                            <a style="padding:5px;" href="#"><i class="bi bi-instagram" style="color:#FFC300;"></i></a>
                        </div>

                        <div class="col-md-4 text-end">
                            <div>
                                <p class="myP"><i class="bi bi-geo-alt-fill"></i> Kuet, Fulbari Gate, Khulna</p>
                                <p class="myP"><i class="bi bi-telephone-fill"></i> 017xxxxxxxxxxx</p>
                                <p class="myP"><i class="bi bi-envelope-fill"></i> bookflix247@gmail.com</p>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    </div>
                </div>

        </div>

        <div class="text-center" style="padding-bottom:20px;"><p class="myP">Copyright 2023 - All right reserved.</p></div>

        
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
