
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed&display=swap');


html {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

html {
    position: relative;
    min-height: 100%;
}


a{
    text-decoration:none;
    color:black;
}


.myP {
    margin-bottom: -2px;
    text-align: center;
    color: #f8eeec;
}
