@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class= "container">
<partial name="_StatusMessage" model="Model.StatusMessage" />
<br/>
<br/>
<br/>
<a class="btn btn-primary" asp-action="Index" asp-area="Customer" asp-controller="Home">Go to Homepage</a>
</div>