@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container mt-5">
    <h3>
        Please check your email to reset your password.
    </h3>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
