@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container mt-5">

    <div class="row justify-content-center align-items-center" style="height:60vh;">
        <div class="col-md-4">
            <h3>
                Your password has been reset. Please <a style="color:blue" asp-page="./Login">click here to log in</a>.
            </h3>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
